# This file is part of log_parser.
# https://github.com/adeelahmad/log_parser

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2022, Adeel Ahmad <230291+adeelahmad@users.noreply.github.com>

[run]
omit =
    *tests.py
branch = True
source =
    log_parser

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
